/* ExportCSV.css */
.csv-page-container {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.csv-all-conversations {
  display: flex;
  flex-wrap: wrap;  
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  height: 300px;
}

.csv-conversation {  
  /* width: 300px; */
  /* margin: 10px; */
  padding: 10px; 
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #000000;
  border: none;
  cursor: pointer;
  font-weight: 200;
  font-size: 16px;
}

button:hover {
  border: 2px solid black;
  
}

button:focus {
  outline: none;
}

.export-button {
  background-color: lightblue;
  color: black;
  
}

.chatbot-button {
  background-color: lightgreen;
  color: black;
}
